name: Test and Deploy
on: [push, workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: corretto
          cache: maven
      - name: Run tests
        run: mvn clean test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: corretto
          cache: maven
      - name: Deploy
        run: mvn clean deploy